<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartButlerCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartButlerCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChartButlerCS.Properties.Settings>
            <setting name="ChartFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>28</value>
            </setting>
        </ChartButlerCS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChartButlerCS.Properties.Settings>
            <setting name="ServerURL" serializeAs="String">
                <value>https://www.gat24.de/data.php?rubrik=aktuell&amp;unterrubrik=neues&amp;dokument=neues&amp;SID=0</value>
            </setting>
            <setting name="ServerAirFieldURL" serializeAs="String">
                <value>https://www.gat24.de/data.php?rubrik=briefing&amp;unterrubrik=flugplaetze&amp;dokument=karten&amp;ICAO=</value>
            </setting>
            <setting name="ServerAmendedURL" serializeAs="String">
                <value>https://www.gat24.de/data.php?rubrik=aktuell&amp;unterrubrik=neues&amp;dokument=aip_aktuell&amp;SID=&amp;printable=true</value>
            </setting>
            <setting name="ServerChartURL" serializeAs="String">
                <value>https://www.gat24.de/dokumente/briefing/flugplaetze/pdfkarten.php?&amp;icao=</value>
            </setting>
            <setting name="ServerChartPreviewURL" serializeAs="String">
                <value>https://www.gat24.de/image.php?bild=dokumente/briefing/flugplaetze/karten/</value>
            </setting>
        </ChartButlerCS.Properties.Settings>
    </applicationSettings>
</configuration>